<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href='/static/styles/style.css'/>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/image/favicon.png">
    <title>Weather</title>
</head>
<body>

    <div class="page">

        <header class="header">
            <div class="container">
                <div class="header-inner">
                    <div class="header-brand">
                        WEATHER
                    </div>

                    <div class="header-logo">
                    </div>

                    <nav class="header-nav">
                        <a class="header-nav-link active" href="http://127.0.0.1:5000/">Home</a>
                    </nav>


                </div>
            </div>
        </header>



        <div class="container">
            <div class="content">
                <h2 class="subtitle">{% block title %} {{ weather }} {% endblock %}</h2>
            </div>


        </div>

         <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="contacts">
                    <a class="contacts-link" href="mailto:SergeyKelme@yandex.ru">SergeyKelme@yandex.ru</a>
                    <a class="contacts-link"  href="https://github.com/SergeyCicada/TypedWeather">GitHub</a>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>